@font-face {
    font-family: "ColfaxAI";
    src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
        format("woff2"),
      url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "ColfaxAI";
    src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
      url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
    font-weight: bold;
    font-style: normal;
  }
  body {
    background-color: #faf7ef !important;
    font-family: "ColfaxAI", Helvetica, sans-serif;
  }

  p {
    color: #faf7ef !important;
    padding: auto;
  }

  h3 {
    font-size: 28px;
    line-height: 40px;
    font-weight: bold;
    color: #faf7ef !important;
    margin: 16px 0 8px;
  }
  
  h5{
    margin: auto;
    padding: 5px;
    text-align: justify;
  }

  input[type="submit"] {
    margin-top: 10px;
    padding: 12px;
    /* position:absolute; */
    width: 30%;
    color: #faf7ef;
    background-color: #1b7865;
    align-content: center;
    border: none;
    border-radius: 24px;
    text-align: center;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    outline: 2px solid #faf7ef;
    border-radius: 24px;

  }

  input[type="file"] {
    margin: auto;
    padding: 12px;
    align-content: center;
    border: none;
    cursor: pointer;
    color: #faf7ef;
} 
  .upload {
    padding: 24px;
    align-content: center;
    border-radius: 24px;
    background: #213c4c;
    margin-bottom: 24px;
  }

  header {
    width: 100%;
    background-color: #213c4c;
    color:#faf7ef;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
  }

  h1 {
    color: #faf7ef;
  }